QWidget {
    background-color: #2d2d2d;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
}

QPushButton {
    background-color: #3a3a3a;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
    padding: 10px;
    min-width: 40px;
    min-height: 40px;
    margin:5px;
    color: #ffffff;
}

QPushButton:hover {
    background-color: #4a4a4a;
}

QPushButton:pressed {
    background-color: #2a2a2a;
}

QTextEdit {
    background-color: white;
    color: black;
    border: 1px solid #1a1a1a;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
}

.special-key {
    background-color: #4a4a4a;
}

.modifier-key {
    background-color: #5a5a5a;
}

.space-key {
    min-width: 200px;
}

.bottom-row-key {
    min-width: 80px;
}

.action-key {
    background-color: #3a5a78;
    color: #ffffff;
}

.action-key:hover {
    background-color: #4a6a88;
}

.action-key:pressed {
    background-color: #2a4a68;
}